<!-- Launches Kobuki Gazebo simulation in the world for this assigment -->
<launch>
  <!-- start Gazebo with taller3 world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find taller2_pkg)/worlds/taller2.world"/>
  </include>

  <!-- spawn the robot -->
  <include file="$(find kobuki_gazebo)/launch/includes/robot.launch.xml"/>
</launch>